* {

	box-sizing: border-box;
}

	body{

	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	overflow-x: hidden; 
	color: #4da6ff;

}



h3{

	font-family: Calibri;
	font-size: 40px;
	padding-top: 1rem;
    padding-left: 20px;
    margin: 0;

}

label{
    display: block;
    text-indent: 10px;
    font-family:sans-serif;
    font-size: 25px;
    clear:both;

}

input{

	width: 100%;


}

fieldset{

	border: none;
}


.div-form{

	width: 100%;

}


.sub-container{

	margin: 0 auto;
	width: 80%;
	border-radius: 12px;
	border: none;
    background: #e6e6e6;
}

.sub-container-formtwo{

	@extend .sub-container;
	padding-bottom: 5%;
}

.div-whitebox{

	background-color: white;
	border-radius: 12px;
	width:85%;
	margin: 0 auto;
	padding: 4%;

}

.div-attr{

	padding: 4%;
	margin: 6%;
	margin-top: 0;
	padding-top: 0;
	
}

.div-fname{

	float: left;
	margin-right: 2%;
	width: 50%;
}

.div-lname{

	float: left;
	width: 48%;
	margin-bottom: 5px;

}

.div-float-container{

	margin-bottom: 1rem;
	margin-top: 0;   
}

.txtbox{

	padding: 20px;
	border-radius: 10px;
	border: none;
	
}

.txtbox-attr{

	
	width: 100%;
	margin-bottom: 10px;
}

.txtbox-attrtwo{

	background-color: #e6e6e6;

	&.half-size{

		width: 50%;
	}
}


.btn{
  background-color: #4da6ff;
  padding: 1rem 6rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 30%;
  

  &.btn-form{
    font-size: 2rem;
    margin-bottom:1rem;
    margin-top: -2%;
    margin-right: 10%;
    text-align: center;
    float: right;
}

&.btn-2nd-form-left{
    margin:1rem;
    margin-left:0;
    font-size: 2rem;
}

&.btn-2nd-form-right{
    float: right;
    margin-right: 0;

}

}

.label-error{

	font-size: 13px;
	color: red;
	margin-bottom: 5px;
}

.btntabs{
	
	float:left;
	border-radius: 12px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	width: 23rem;
	padding: 1rem;
	background-color: #2DA8C9;
}


.btntabs-left{

	@extend .btn
}

.btntabs-right{

	@extend .btntabs-left;
	width: 23rem;
}