* {

	box-sizing: border-box;
}

	body{

	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	overflow-x: hidden; 
	color: #4da6ff;

}



h3{

	font-family: Calibri;
	font-size: 50px;
	padding-top: 1rem;
    padding-left: 20px;
    margin: 0;

}

label{
    display: block;
    text-indent: 10px;
    font-family:sans-serif;
    font-size: 30px;
    clear:both;

}

input{

	width: 100%;


}

fieldset{

	border: none;
}


.div-form{

	width: 100%;

}


.sub-container{

	margin: 0 auto;
	width: 80%;
	border-radius: 12px;
	border: none;
    background: #e6e6e6;
}

.div-attr{

	padding: 4%;
	margin: 6%;
	margin-top: 0;
	padding-top: 0;
	
}

.div-fname{

	float: left;
	margin-right: 2%;
	width: 50%;
}

.div-lname{

	float: left;
	width: 48%;
	margin-bottom: 5px;

}

.div-float-container{

	margin-bottom: 1rem;
	margin-top: 0;   
}

.txtbox{

	padding: 20px;
	border-radius: 10px;
	border: none;
	
}

.txtbox-attr{

	
	width: 100%;
	margin-bottom: 10px;
}


.btn{
  background-color: cornflowerblue;
  padding: 1rem 6rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  

  &.btn-form{
    font-size: 2rem;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-right: 16%;
    text-align: center;
    float: right;
}

&.btn-2nd-form-left{
    margin:1rem;
    margin-left:0;
    font-size: 2rem;
}

&.btn-2nd-form-right{
    float: right;
    margin-right: 0;

}

}

.label-error{

	font-size: 13px;
	color: red;
	margin-bottom: 5px;
}