* {

	box-sizing: border-box;
}

	body{

	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	overflow-x: hidden; 
	color: #4da6ff;

}


h3{

	font-family: Calibri;
	font-size: 40px;
	padding-top: 1rem;
    padding-left: 20px;
    margin: 0;

}

label{
    display: block;
    text-indent: 10px;
    font-family:sans-serif;
    font-size: 25px;
    clear:both;

}

input{

	width: 100%;
}


fieldset{

	border: none;
}


.mssge{

	width: 2.1%;
	transform: scale(2);
	-ms-transform: scale(2); /* IE */
  	-moz-transform: scale(2); /* FF */
  	-webkit-transform: scale(2); /* Safari and Chrome */
  	-o-transform: scale(2); /* Opera */
	margin-left: 2%;
	border: none;
}

.mssge-label{

	display: inline-block;

}

.div-form{

	width: 100%;

}


.hide{

	display: none;

}


.sub-container{

	margin: 0 auto;
	width: 80%;
	border-radius: 12px;
	border: none;
    background: #e6e6e6;
}

.sub-container-formtwo{

	@extend .sub-container;
	padding-bottom: 5%;
	margin-bottom: 5%;
}

.div-whitebox{

	background-color: white;
	border-radius: 12px;
	width:85%;
	margin: 0 auto;
	padding: 4%;

}

.div-attr{

	padding: 4%;
	margin: 6%;
	margin-top: 0;
	padding-top: 0;
	
}

.div-fname{

	float: left;
	margin-right: 2%;
	width: 50%;
}

.div-lname{

	float: left;
	width: 48%;
	margin-bottom: 5px;

}

.div-float-container{

	margin-bottom: 1rem;
	margin-top: 0;   
}

.txtbox{

	padding: 20px;
	border-radius: 10px;
	border: none;
	
}

.txtbox-attr{

	width: 100%;
	margin-bottom: 10px;
}

.txtbox-attrtwo{

	background-color: #e6e6e6;

	&.half-size{

		width: 50%;
	}
}

textarea{

	width: 100%;
	border-radius: 15px;
	border: none;
	padding-left: 18px;
	padding-top: 10px;

}

fieldset:not(:first-of-type){

	display: none;
}

.btn{
  background-color: #4da6ff;
  padding: 1rem 6rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 30%;
  

  &.btn-form{
    font-size: 2rem;
    margin-bottom:1rem;
    margin-top: -2%;
    margin-left: 10%;
    text-align: center;
    float: left;
}

&.btn-right{
    
    margin-left: 20%;
}

&.btn-1form{

	margin-left: 60%;

}

}

.error{

	font-size: 13px;
	color: red;
	margin-bottom: 5px;
}

.btntabs{
	
	float:left;
	border-radius: 12px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	background-color: #2DA8C9;
	font-size: 41px;
	
	
}

.btntabs:focus{


	background-color: white;

}

.btntabs-left{

	@extend .btntabs;
	width: 20rem;
	
}

.btntabs-right{

	@extend .btntabs;
	width: 20rem;
	margin-left: 0;

}

.ack-message{

	text-align: center;
	color: black;
	font-size: 1rem;
	display: block !important;
}

.end-message{
	display: none;
}

