article:not(:first-of-type){

    display:none;
}

.show{

    display: block;
}


.hide{


    display: none;
}


.div-caption{

	width: 100%;
	font-family:sans-serif;
	

}

h1{

    font-size: 3.3rem;
	margin-bottom: 0;
	margin-top: 3rem;
}


p{

    font-size: 40px;
    font-family: calibri;
    font-weight: lighter;
    margin-top: 0;
    text-align: center;
}



hr{
    width: 65%;
    background: #bebebe;
    height: 4px;
    background-color: #ededed;
    border: none;
    margin-bottom: 3rem;
    margin-top: 2rem;
 }