article{	
    font-size: 32px;
    text-align: center;
    font-size: 3rem;
}

.div-caption{

	width: 100%;
	font-family:sans-serif;
	

}

h1{

	margin-bottom: 0;
	margin-top: 3rem;
    

}


hr{
    width: 68%;
    background: #bebebe;
    height: 4px;
    background-color: #ededed;
    border: none;
    margin-bottom: 3rem;
    margin-top: 2rem;
 }