.container{
	
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
}

.col2{

	width: 16.66666666666667%;
	float: left;
}


.col10{

	width: 83.33333333333333%;
	float: left;
}

.col9{

	width: 75%;
	float: left;
}

.col3{

	width: 25%;
	float: left;
}


