footer
{
  background: #cccccc;
  padding: 1%;
  clear: both;
  
}

.ul-footer{
    list-style-type: none;
    padding: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:1.6rem;
    font-family: Calibri;
    margin: auto;
    width: 100%;

    li{

        float: left;

    a{

            color: white;
            text-decoration: none;

            
      }


    &:after{

            content: "|";
            padding: 10px;
        }

        &:last-child:after{

            content: "";

        }


    }
}

.circle-ul{

    text-align: center;
    margin-bottom: 1rem;
}

.circle-ul li{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: white;
    display: inline-block;
    margin-right: 3%;
}


.div-footer-menu{

    width: 100%;
    margin-left: 13%;
}


.div-footer{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Calibri;
    margin-top: 1rem;

}
