header{

	background: #4da6ff;
	padding: 4%;

}

span{

	display: block;
	margin-top: -20px;
}

.clear:after{

	content: "";
	clear: both;
	display: block;
}


.logo{

	border: 1px solid white;
	padding: 6%;//<-- logo textl

	color: white;
	display: inline-block;
	font-size: 3.5rem;
	float: left;//<--logo design
}

.div-menu{

	padding: 0;
	margin-top: 1%;
	float: left;
	margin-left: 2%;
	
	
}

.header-list {

	

	li{

		float: left;
		color: white;
		list-style-type: none;
		text-align: center;
		font-size: 30px;
		margin-bottom: 1rem;
		

		a{

			color: white;
			text-decoration: none;

			
		}

		&:after{

			content: "|";
			padding: 15px;
		}

		&:last-child:after{

			content: "";

		}
	}
}

.search-bar{

	border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    padding: 4%;
    padding-right: 14%;
    font-size: 13px;
    float: left;
    margin-top: -5%;
    color:white;
    margin-left: 2%;
   
}


.search-icon{
    position: relative;
    top:38px;
    left:1%;
    border: none;

}

.search-icon .fa-search{

    position: absolute;
    color: #ffffff;
    top: -5px;
    right: 2%;
    font-size: 20px;

}