header{

	background: dodgerblue;
	padding: 4rem;

}

span{

	display: block;
	margin-top: -28px;
}

.clear:after{

	content: "";
	clear: both;
	display: block;
}


.logo{

	font-family: "Times New Roman";
	border: 1px solid white;
	padding: 1rem;//<-- logo text

	color: white;
	display: inline-block;
	font-size: 4rem;
	margin-top: 10px;
	margin-left: 8rem;
	margin-bottom: 1rem;
	float: left;//<--logo design
}

.div-logo{

		margin-left: 61px;
		margin-right: 1rem;
		float: left;
		padding: 0;
	}

.div-menu{

	margin-top: 4rem;
	padding: 0;
	
}

.header-list {

	float: left;

	li{

		float: left;
		color: white;
		list-style-type: none;
		text-align: center;
		font-size: 40px;
		margin-bottom: 1rem;
		margin-top: -30px;


		a{

			color: white;
			text-decoration: none;

			
		}

		&:after{

			content: "|";
			padding: 15px;
		}

		&:last-child:after{

			content: "";

		}
	}
}

.search-bar{

	border-radius: 9px;
    border: 1px solid white;
    background-color: transparent;
    padding: 15px;
    padding-right: 50px;
    font-size: 15px;
    float: left;
    margin-top: -52px;
    color:white;
    margin-left: 4rem;
    width: 18%;
}


.search-icon{
    position: relative;
    top:38px;
    left:1%;
    border: none;
}

.search-icon .fa-search{

    position: absolute;
    color: #ffffff;
    top: -3rem;
    right: 10.5rem;
    font-size: 43px;
}