@media only screen and (max-width: 768px) and (min-width: 300px){


/*****************

GLOBAL PROPERTIES

******************/
    * {

    box-sizing: border-box;
}

    body{

    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    overflow-x: hidden; 
    color: #4da6ff;
}

.container{
    
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

.col2{

    width: 100%;
    float: none;
    

}

.col10{

    float: none;
    width: 100%;

}

.col9{
    
    float: none;
    width: 100%;
}

.col3{

    float: none;
    width: 100%;

}


/*****************

HEADER PROPERTIES

******************/

header{

    background-color: #4da6ff;
    padding: 1%;

}

span{

    display: inline;
    width: 100%;
}

.logo{

    border: 1px solid white;
    text-align: center;
    padding: 0;//<-- logo text

    color: white;
    display: block;
    font-size: 4rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    float: none;//<--logo design
}

.div-menu{

    margin-top: 0;
    padding: 0;
    width: 98%;

}

.header-list{

    padding: 0;
    float:none;


    li{

        float: none;
        color: white;
        font-size: 300%;
        list-style-type: none;
        border: 1px solid white;
        border-radius: 7px;
        text-align: center;
        margin: 2px;

    a {
        display: block;
        color: white;
        text-decoration: none;
        border-radius: 7px;

        &:hover {
            background-color: black;
        }
    }

    &:after{

        content: "";
        padding: 0;
    }
    
 }

}

.search{

    position: relative;

    input{

        color: #ffffff;
        padding-right: 2.4rem;
        border-radius: 7px;
        border: 1px solid white;
        background-color: transparent;
        font-size: 2rem;
        margin-top: 0;
        width: 97%;
        margin-left: 1rem;

    }
    
    .fa-search{

        position: absolute;
        color: #ffffff;
        top: 85%;
        left: 90%;
        font-size: 39px;

    }
}

/*********************

END HEADER PROPERTIES

*********************/



/*********************

 CAPTION PROPERTIES

*********************/


.div-caption{

    width: 100%;
    padding: 1rem;
    font-family:sans-serif;

}

article{    

    font-size: 32px;
    text-align: center;


}

h1{
    
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 3rem;
}

hr{
    width: 68%;
    background: #bebebe;
    height: 4px;
    background-color: #ededed;
    border: none;
    margin-bottom: 3rem;


}

/**********************

END CAPTION PROPERTIES

**********************/



/***********************

PROGRESS BAR PROPERTIES

************************/

.progress-unfloat:after{
    display: block;
    content: "";
    clear: both;
}

.progress{
    counter-reset: step;
}

.progress li{
    list-style-type: none;
    float: left;
    width: 32.20%;
    position: relative;
    text-align: center;
    font-size: 40px;
}

.progress li:nth-child(3){
  position: relative;
    right:1%;
}

.progress li:nth-child(1){
    position: relative;
    left:4%;

}

.progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 10px solid #bebebe;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    background-color: #ffffff;
}

.progress li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: #bebebe;
    top: 25px;
    left: -46%;
    z-index: -1;
}

.progress li:first-child:after{
    content: none;
}

.progress li.active{
    color: white;
}

.progress li.active:before{
    border-color: #bebebe;
    background: dodgerblue;
}

/**************************

END PROGRESS BAR PROPERTIES

***************************/


/**************

FORM PROPERTIES

***************/

.div-form{

    width: 100%;

}


.sub-container{

    margin: 0 auto;
    width: 69%;
    border-radius: 8px;
    border: none;
    background: #DFDFDF;
}

.div-attr{

    padding: 20px;
    margin-top: -2%;
    
}


h3{

    font-family: Calibri;
    font-size: 50px;
    padding-left: 20px;
    margin: 0;

}

label{
    display: block;
    text-indent: 10px;
    font-family:sans-serif;
    font-size: 30px;
    clear:both;

}

input{

    font-size: 16px;
    width: 100%;


}

.div-fname{

    float: left;
    margin-right: 2%;
    width: 50%;
}

.div-lname{

    float: left;
    width: 48%;
    margin-bottom: 5px;

}

.div-float-container{

    margin-bottom: 1rem;
    margin-top: 0;   
}

.txtbox{

    padding: 1rem;
    border-radius: 5px;
    border: none;
    
}

.txtbox-attr{

    
    width: 100%;
    margin-bottom: 10px;
}

/*******************

END FORM PROPERTIES

********************/


/*****************

BUTTON PROPERTIES

******************/

.btn{
  background-color: cornflowerblue;
  padding: 1rem 6rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 69%;

  &.btn-form{
    font-size: 2rem;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-right: 16%;
    text-align: center;
    float: right;
}

&.btn-2nd-form-left{
    margin:1rem;
    margin-left:0;
    font-size: 2rem;
}

&.btn-2nd-form-right{
    float: right;
    margin-right: 0;

}

}

/********************

END BUTTON PROPERTIES

*********************/



/*****************

FOOTER PROPERTIES

******************/

footer
{
  background: grey;
  padding: 1rem;
  clear: both;
}

.ul-footer{
    list-style-type: none;
    padding: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:18px;
    font-family: Calibri;
}

.ul-footer li:after{

    content: "|";
    padding: 0 3px;
}

.circle-ul{

    text-align: center;
    margin-bottom: 1rem;
}

.circle-ul li{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    display: inline-block;
    margin-right: 3rem ;
}



.div-footer{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Calibri;
    margin-top: 1rem;

}

/*****************

FOOTER PROPERTIES

******************/



} //END OF MEDIA SCREEN WITH 300px~768px



