@media only screen and (max-width: 56rem){
	
* {

	box-sizing: border-box;
}

	body{

	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	overflow-x: hidden; 
	color: dodgerblue;

}


ul{
	padding: 0;
}

header{

	background: dodgerblue;
	padding: 1rem;

}

fieldset{

	border: none;
	
}

.logo{

	border: 1px solid white;
	text-align: center;//<-- logo text

	color: white;
	display: block;
	font-size: 4rem;
	margin-left: 0;
	margin-bottom: 1rem;
	float: none;//<--logo design


}

.div-menu{

	margin-top: 0;
	padding: 0;
}

.header-list{

	float:none;

	li{

	float: none;
	color: white;
	font-size: 3rem;
	list-style-type: none;
	border: 1px solid white;
	border-radius: 1rem;
	text-align: center;
	margin:1rem;

	a {
		display: block;
		color: white;
		text-decoration: none;
		border-radius: 1rem;

		&:hover {
			background-color: #0089E0;
		}
	}

	&:after{

		content: "";
		padding: 0;
	}
	
}

}



.div-search-bar{

	padding: 1rem;
	width: 80%;
}


.search-bar{

	border-radius: 7px;
    border: 1px solid white;
    font-size: 2rem;
    background-color: transparent;
    padding: 0.5rem;
    padding-right: 5rem;
    color:white;
    margin: 1rem;
    width: 100%;
	
}


.search-icon{
    position: relative;
    top:38px;
    left:1%;
    border: none;
}

.search-icon .fa-search{

    position: absolute;
    color: #ffffff;
    top: 3rem;
    right: -4.5rem;
    font-size: 2rem;
} //END OF HEADER



.div-caption{

	width: 100%;
	padding: 1rem;

}

article{	

    font-size: 32px;
    text-align: center;


}

h1{
	
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 3rem;
    font-size: 3rem;
}

hr{
    width: 68%;
    background: #bebebe;
    height: 4px;
    background-color: #ededed;
    border: none;
    margin-bottom: 3rem;


}//END OF CAPTION

.progress-unfloat:after{
    display: block;
    content: "";
    clear: both;
}

.progress{
    counter-reset: step;
}

.progress li{
    list-style-type: none;
    float: left;
    width: 32.20%;
    position: relative;
    text-align: center;
    font-size: 40px;
}

.progress li:nth-child(3){
  position: relative;
    right:1%;
}

.progress li:nth-child(1){
    position: relative;
    left:4%;

}

.progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 10px solid #bebebe;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    background-color: #ffffff;
}

.progress li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: #bebebe;
    top: 25px;
    left: -46%;
    z-index: -1;
}

.progress li:first-child:after{
    content: none;
}

.progress li.active{
    color: white;
}

.progress li.active:before{
    border-color: #bebebe;
    background: dodgerblue;
}//END OF PROGRESS BAR


.div-form{

	width: 100%;

}


.sub-container{

	margin: 0 auto;
	width: 69%;
	border-radius: 8px;
	border: none;
    background: #DFDFDF;
}

.div-attr{

	padding: 20px;
	margin-top: -2%;
	
}


h3{

	font-family: Calibri;
	font-size: 50px;
    padding-left: 20px;
    margin: 0;

}

label{
    display: block;
    text-indent: 10px;
    font-family:sans-serif;
    font-size: 30px;
    clear:both;

}

input{

	font-size: 16px;
	width: 100%;


}

.div-fname{

	float: left;
	margin-right: 2%;
	width: 50%;
}

.div-lname{

	float: left;
	width: 48%;
	margin-bottom: 5px;

}

.div-float-container{

	margin-bottom: 1rem;
	margin-top: 0;   
}

.txtbox{

	padding: 1rem;
	border-radius: 5px;
	border: none;
	
}

.txtbox-attr{

	
	width: 100%;
	margin-bottom: 10px;
}
//END OF 1st FORM

.btn{
  background-color: cornflowerblue;
  padding: 1rem 6rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 69%;

  &.btn-form{
    font-size: 2rem;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-right: 16%;
    text-align: center;
    float: right;
}

&.btn-2nd-form-left{
    margin:1rem;
    margin-left:0;
    font-size: 2rem;
}

&.btn-2nd-form-right{
    float: right;
    margin-right: 0;

}

}//END BUTTONS

footer
{
  background: grey;
  padding: 1rem;
  clear: both;
}

.ul-footer{
    list-style-type: none;
    padding: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:18px;
    font-family: Calibri;
}

.ul-footer li:after{

	content: "|";
	padding: 0 3px;
}

.circle-ul{

    text-align: center;
    margin-bottom: 1rem;
}

.circle-ul li{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    display: inline-block;
    margin-right: 3rem ;
}



.div-footer{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Calibri;
    margin-top: 1rem;

}




}//END OF MEDIA


