/* line 1, ../../sass/_header.scss */
header {
  background: dodgerblue;
  padding: 1rem 0; }

/* line 8, ../../sass/_header.scss */
.clear:after {
  content: "";
  clear: both;
  display: block; }

/* line 16, ../../sass/_header.scss */
.logo {
  font-family: "Times New Roman";
  border: 1px solid white;
  padding: 1rem;
  color: white;
  display: inline-block;
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 1rem;
  float: left; }

/* line 30, ../../sass/_header.scss */
.div-logo {
  margin-left: 61px;
  float: left; }

/* line 36, ../../sass/_header.scss */
.div-menu {
  margin-top: 6rem;
  padding: -5rem; }

/* line 42, ../../sass/_header.scss */
.header-list li {
  float: left;
  color: white;
  font-size: 1.5rem;
  list-style-type: none;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: -30px;
  margin-left: 1rem; }

/* line 1, ../../sass/_body.scss */
body {
  padding: 0;
  margin: 0;
  height: auto;
  box-sizing: inline-block; }

@media only screen and (max-width: 59rem) {
  /* line 3, ../../sass/_media.scss */
  body {
    padding: 0;
    margin: 0;
    height: auto;
    box-sizing: inline-block; }

  /* line 13, ../../sass/_media.scss */
  ul {
    padding: 0; }

  /* line 17, ../../sass/_media.scss */
  header {
    background: dodgerblue;
    padding: 1rem; }

  /* line 24, ../../sass/_media.scss */
  .logo {
    font-family: "Times New Roman";
    border: 1px solid white;
    text-align: center;
    color: white;
    display: block;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 1rem;
    float: none; }

  /* line 40, ../../sass/_media.scss */
  .div-menu {
    margin-top: 0;
    padding: 0; }

  /* line 46, ../../sass/_media.scss */
  .header-list li {
    float: none;
    color: white;
    font-size: 3rem;
    list-style-type: none;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem; }
    /* line 57, ../../sass/_media.scss */
    .header-list li a {
      display: block;
      color: white;
      text-decoration: none;
      border-radius: 1rem; }
      /* line 63, ../../sass/_media.scss */
      .header-list li a:hover {
        background-color: #0089E0; }

  /* line 72, ../../sass/_media.scss */
  .div-search-bar {
    padding: 2rem;
    width: 80%; }

  /* line 79, ../../sass/_media.scss */
  .search-bar {
    border-radius: 7px;
    border: 2px solid white;
    font-size: 2rem;
    background-color: transparent;
    padding: 0.5rem;
    padding-right: 35px;
    color: white;
    margin: 1rem;
    width: 100%;
    margin-right: -2rem; } }
